[data-md-color-scheme="marvacc"] {
  --md-primary-fg-color:        #161616;
  --md-primary-fg-color--light: #161616;
  --md-primary-fg-color--dark:  #161616;
}

.md-search-result .md-typeset {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.md-typeset h1 {
  color: #212121;
  font-family: var(--header-font), sans-serif;
  font-weight: 550;
  size: 2em;
}

.md-typeset .md-content__button {
  display: none;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary) {
  padding-left: 1.0rem;
  padding-right: .6rem;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary):before {
  display: none;
}

.md-typeset :is(.admonition,details) {
  background-color: var(--md-admonition-bg-color);
  border: 0 solid #999;
  border-radius: .1rem;
  box-shadow: var(--md-shadow-z1);
  color: var(--md-admonition-fg-color);
  display: flow-root;
  font-size: .64rem;
  margin: 1.5625em 0;
  padding: 0 .6rem;
  page-break-inside: avoid;
}

.md-typeset :is(.admonition-title,summary) {
  background-color: rgba(135, 135, 135, 0.1);
  border: none;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  position: relative;
}

.md-typeset h2, .md-typeset h3, .md-typeset h4 {
  font-family: var(--header-font), sans-serif;
  font-weight: 400;
  size: 2em;
}

.md-typeset h2 {
  color: #212121;
  padding-bottom: 0.5em;
}
.md-typeset h3 {
  color: #212121;
}
.md-typeset h4 {
  padding-top: 1em;
  text-decoration: underline;
  font-weight: bold;
}
.md-typeset h5 {
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: bold;
}
.md-typeset h6 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.md-ellipsis {
  font-family: var(--header-font), sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.md-typeset .md-button:is(:focus,:hover) {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: black;
}

.md-typeset mark {
  background-color: #244559;
  color: white;
  text-decoration: none;
}

.md-typeset table:not([class]) th {
  font-weight: bold;
  background-color: #999;
  color: var(--md-default-bg-color);
}

.md-typeset table:not([class]) td {
  border-top: .05rem solid var(--md-default-fg-color--lightest);
  padding: .2375em 1.25em;
  vertical-align: top;
}

div.text {
  text-align: left;
  font-size: medium;
  padding-left: 10%;
  padding-right: 15%
}

img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.035);
  transform:scale(1.035);
}

.md-nav__icon md-icon {
  display: none;
}

.md-nav__link:is(:focus,:hover) {
  color: var(--md-accent-fg-color);
}

.md-typeset a:focus, .md-typeset a:hover {
  color: var(--md-accent-fg-color);
}